.indexContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid darkgrey;
}

.chartContainer {
    color: white;
    width: 60%;
}

.indexListContainer {
    width: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.indexListContainer h1 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.dailyDataButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 92%;
}

.indexColumnContainer {
    padding-top: 0;
    padding: 5px;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    text-align: left;
}

.indexDailyDisplay {
    background-color: #121212;
    color: white;
    border: 1px solid darkgrey;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: 55px;
}

.indexDailyDisplay:hover {
    background-color: #232B32;
    cursor: pointer;
}

.indexDailyDisplay::after {
    background-color: #232B32;
}

.price {
    font-size: 15px;
}

.positive_change {
    color: lightgreen;
    font-size: 14px;
}

.negative_change {
    color: lightcoral;
    font-size: 14px;
}

.smallScreenContainer {
    display: none;
}

.titleText {
    font-size: 15px; 
    font-weight: 700;
}

.ticker {
    font-size: 12px; 
    font-weight: 500;
}


@media screen and (max-width: 1600px) {
    .indexListContainer {
        margin-top: 100px;
        width: 35%;
    }
}

@media screen and (max-width: 1200px) {
    .chartContainer {
        width: 60%;
    }

    .indexListContainer {
        margin-top: 120px;
        width: 37%;
    }

    .indexDailyDisplay {
        height: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .indexContentContainer {
        margin: 0;
        padding-bottom: 50px;
    }

    .chartContainer {
        width: 70%;
        margin-top: 15px;
    }

    .indexListContainer {
        width: 25%;
        margin-top: 50px;
        height: 300px;
    }

    .indexListContainer h1 {
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 0;
    }

    .dailyDataButtonsContainer {
        width: 100%;
    }

    .indexColumnContainer {
        padding: 0;
        width: 100%;
    }

    .smallScreenContainer {
        display:flex;
        flex-direction: column;
        height: 250px;
        overflow-y: scroll;
    }

    .smallScreenContainer .indexDailyDisplay {
        width: 100%;
    }

    .smallScreenIndexesList {
        width: 87%;
        margin-top: 50px;
    }

    .normalScreenContainer {
        display: none;
    }
}
/*
previous state

.indexListContainer {
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.indexListContainer h1 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}

.dailyDataButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 92%;
    height: 450px;
}

.titleContainer {
    text-align: left;
}

.priceActionContainer {
    line-height: 10px;
    padding: 0px;
    margin-top: 10px;
}

.indexDailyDisplay {
    background-color: #121212;
    color: white;
    border: 1px solid darkgrey;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-top: 10px;
    height: 70px;
}

.indexDailyDisplay:hover {
    background-color: #232B32;
    cursor: pointer;
}

.indexDailyDisplay::after {
    background-color: #232B32;
}

.positive_change {
    color: lightgreen;
}

.negative_change {
    color: lightcoral;
}
*/