
<div class="allContentContainer">
    <div class="stockName">
        <p>{{stockName}}</p>
        <div class="stockConditionTags">
            <div class="stockConditionTag positiveTag" [hidden]="profitable == false">
                Profitable
            </div>
            <div class="stockConditionTag negativeTag" [hidden]="profitable == true">
                Nonprofitable
            </div>
            <div class="stockConditionTag positiveTag" [hidden]="growingRevenue == false">
                Growing
            </div>
            <div class="stockConditionTag negativeTag" [hidden]="growingRevenue == true">
                Shrinking
            </div>
        </div>
    </div>
    <div class="keyMetricsTableContainer">
        <table class="keyMetricsTable">
            <tr>
                <th>Metric</th>
                <th *ngFor="let year of fiscalYears">{{year}}</th>
            </tr>
            <tr *ngFor="let metric of allMetrics">
                <td *ngFor="let value of metric">{{value}}</td>
            </tr>
        </table>
    </div>
</div>