
<div class="allContentContainer">
    <div class="stockTitleAndTableContainer">
        <table class="keyMetricsTable">
            <tr>
                <th>Metric</th>
                <th *ngFor="let term of reportTerms">{{term}}</th>
            </tr>
            <tr *ngFor="let metric of allMetrics" (click)="renderDefinition(metric[0])" class="dataRow">
                <td *ngFor="let value of metric">{{value}}</td>
            </tr>
        </table>
    </div>
    <div class="metricDefinitionsContainer">
        <div class="metricDefinition">
            <div class="metricDefinitionHeader">
                <h2>{{displayedMetric}}</h2>
            </div>
            <div class="metricDefinitionContent">
                <p>{{displayedDefinition}}</p>
            </div>
        </div>
    </div>
</div>