html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  background-color: #121212;
  color: white;
}

/* Center the stockInfoAndChartContainer and add padding */
.stockInfoAndChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* Place stockInfoContainer on the left side and add spacing */
  .stockInfoContainer {
    width: 42%;
    padding-top: 20px;
    border-radius: 8px;
    background-color: #1e1e22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stockSummaryContainer {
    margin-bottom: 30px;
    width: 90%;
  }

  .stockDetailsHeader {
    margin-bottom: 10px;
    width: 90%;
    padding-bottom: 6px;
    border-bottom: 1px solid #6c6969;
  }

  .stockDetailsHeader h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .stockOverviewDetails {
    width: 90%;
  }
  
  /* Display overview details in a row */
  .overviewDetailsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
  }

  .overviewDetailsContainer h2, h3 {
    font-size: 14px;
    font-weight: 400;
  }

  .stockDetailsItem {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  /* Place stockChartContainer on the right side and add spacing */
  .stockChartContainer {
    width: 50%;
    margin-right: 30px;
    margin-left: 20px;
  }
  
  /* Make canvas fill the width of its container */
  canvas#canvas {
    width: 100%;
  }
  
  /* Add spacing below the canvas and align buttons in a row */
  .timeOptionsContainer {
    margin-top: 10px;
    display: flex;
  }
  
  /* Add some styling to the buttons */
  .timeOptionsContainer button {
    margin-right: 5px;
  }
  