html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #121212;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.mainContentContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.leftPanelContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockChartContainer {
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
}

.stockDetailsHeader {
  margin-bottom: 8px;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #6c6969;
}

.rightPanelContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockInfoContainer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  border-radius: 8px;
}

.stockOverviewDetails {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockDetailsHeader h2 {
  font-size: 18px;
  font-weight: 400;
}

.overviewDetailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.overviewDetailsContainer h3 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.stockDetailsItem {
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.earningsContainer {
  width: 90%;
}

.addStockContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.watchlistSelectionAndAdditionContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.addStockContainer select {
  background-color: #232323;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.addStockContainer select:hover {
  cursor: pointer;
}

.addStockContainer select:focus {
  outline: none;
}

.addStockContainer button {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-color: #232323;
  color: white;
  border: 0.5px solid rgb(121, 119, 119);
  border-radius: 50%;
  font-size: 22px;
}

.addStockContainer button:hover {
  background-color: #6c6969;
  cursor: pointer;
}

.addStockContainer button:disabled {
  background-color: #232323;
  color: rgb(121, 119, 119);
  border: 0.5px solid rgb(121, 119, 119);
  cursor: not-allowed;
}

.stockAddedSuccessMessage {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #00C805;
}

.stockAlreadyInWatchlistMessage {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #e05252;
}

.keyMetricsContainer {
  width: 80%;
  margin-top: 20px;
}

.keyMetricsTitleContainer {
  width: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.keyMetricsTitleContainer h2 {
  font-size: 18px;
  font-weight: 400;
}

.keyMetricsTagsAndOptions {
  width: 40%;
  display: flex;
  align-items: center;
}

.keyMetricsOptions {
  margin-left: 30px;
}

.keyMetricsOptions button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #121212;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid white;
  margin-left: 15px;
}

.keyMetricsOptions button:hover {
  border-bottom: 1px solid #6c6969;
}

@media screen and (max-width: 1650px) {
  .mainContentContainer {
    width: 95%;
  }

  .leftPanelContainer {
    width: 50%;
  }
  
  .rightPanelContainer {
    width: 47%;
  }

  .stockOverviewDetails, .earningsContainer {
    width: 94%;
  }
}