html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  background-color: #121212;
  color: white;
  overflow-x: hidden;
}

.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.mainContentContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.leftPanelContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockChartContainer {
  margin-top: 10px;
  width: 750px;
}

.stockSummaryContainer {
  margin-left: 8px;
}

.stockDetailsHeader {
  margin-bottom: 8px;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #6c6969;
}

.rightPanelContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockInfoContainer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  border-radius: 8px;
}

.stockOverviewDetails {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.stockDetailsHeader {
  margin-bottom: 8px;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #6c6969;
}

.stockDetailsHeader h2 {
  font-size: 18px;
  font-weight: 400;
}

.overviewDetailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.overviewDetailsContainer h3 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.stockDetailsItem {
  font-size: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.earningsContainer {
  width: 90%;
}
