<html>
    <head>
        <title>Watchlist Display</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <app-custom-nav-bar></app-custom-nav-bar>
        <div class="stockInfoAndChartContainer">
            <app-stock-chart [ticker]="stock.ticker" [chartWidth]='"800px"' [title]="stock.name"></app-stock-chart>
            
            <div class="stockInfoContainer">
                <div class="stockSummaryContainer">
                    <div class="stockDetailsHeader">
                        <h2>Summary</h2>
                    </div>
                    <div class="summaryContainer">
                        <p>{{stock.description}}</p>
                    </div>
                </div>
                <div class="stockOverviewDetails">
                    <div class="stockDetailsHeader">
                        <h2>General Stats</h2>
                    </div>
                    <div class="overviewDetailsContainer">
                        <div class="stockDetailsItem">
                            <h3>Price</h3>
                            <h4>{{stock.price}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Days Change</h3>
                            <h4>{{stock.days_change}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>% Change</h3>
                            <h4>{{stock.percent_change}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Volume</h3>
                            <h4>{{stock.volume}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Dividend Yield</h3>
                            <h4>{{stock.dividend_yield}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Market Cap</h3>
                            <h4>{{stock.market_cap}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>52 Week High</h3>
                            <h4>{{stock.fifty_two_week_high}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>52 Week Low</h3>
                            <h4>{{stock.fifty_two_week_low}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>PE Ratio</h3>
                            <h4>{{stock.pe_ratio}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>EPS</h3>
                            <h4>{{stock.earnings_per_share}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Forward PE Ratio</h3>
                            <h4>{{stock.forward_pe}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Return on Equity</h3>
                            <h4>{{stock.return_on_equity}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>EV to EBITDA</h3>
                            <h4>{{stock.enterprise_value_to_ebitda}}</h4>
                        </div>
                        <div class="stockDetailsItem">
                            <h3>Operating Margin</h3>
                            <h4>{{stock.operating_margin}}</h4>
                        </div>
                    </div>
                </div>
                <app-earnings-chart [stockSymbol]="stock.ticker"></app-earnings-chart>

            </div>
        </div>
    </body>
</html>