body {
    overflow: hidden;
}

.pageContainer {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    overflow: hidden;
}

.allContentContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.analyticalOptionsContainer {
    width: 24%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.titleAndSearchContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #6c6969;
    color: rgb(228, 217, 217);
}

h1 {
    font-size: 22px;
}

.analysisOptionsContainer {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.analysisOption {
    border: 1px solid rgb(228, 217, 217);
    color: rgb(228, 217, 217);
}

.analysisOption:hover {
    background-color: #232B32;
    cursor: pointer;
}

.analysisOption h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}

.generalAnalysisOption {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20%;
    height: 99.99%;
}

.horizontalAnalysisOptionsContainer {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.horizontalOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 33.33%;
}


.analyticalContentContainer {
    width: 74%;
    height: 780px;
}


.titleAndSearchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.titleAndSearchContainer input {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: none;
    background-color: #232323;
    color: white;
    border-radius: 5px;
    margin-bottom: -5px;
}

.stockSearchContainer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: coral;
}

.stockSearchContainer option {
    font-size: 14px;
    background-color: #232323;
}

.anAnalysisContainer {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    color: white;
}

/* General Analysis container styling */

.generalAnalysisContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftPanelContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.stockChartContainer {
    width: 100%;
}

.stockSummaryContainer {
    margin-top: 15px;
    margin-left: 20px;
}

.stockSummaryContainer h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #6c6969;
}

.rightPanelContainer {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.stockInfoContainer {
    width: 90%;
    height: 70%;
    margin-top: 95px;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.stockOverviewDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.stockDetailsHeader {
    width: 100%;
    border-bottom: 1px solid #6c6969;
}

.stockDetailsHeader h2 {
    font-size: 18px;
    font-weight: 400;
}

.overviewDetailsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.overviewDetailsContainer h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: -15px;
}

.stockDetailsItem {
    font-size: 13px;
    margin-right: 10px;
}

.earningsContainer {
    width: 90%;
}


/* Income Statement analysis container */