<body>
    <app-custom-nav-bar></app-custom-nav-bar>
    <div class="pageContainer">
        <div class="allContentContainer">
            <div class="analyticalOptionsContainer">
                <div class="titleAndSearchContainer">
                    <div class="titleContainer">
                        <h1>Analyze</h1>
                    </div>
                    <div class="searchContainer">
                        <input type="text"
                        placeholder="Search Stock"
                        (keyup)="editInput($event)"
                        [(ngModel)]="searchTerm"
                        list="stockOptionsAnalysis">
                        <p class="errorText" *ngIf="errorText">Stock not found</p>
                        <datalist id="stockOptionsAnalysis">
                            <option *ngFor="let stock of autofillOptionsAnalysis" [value]="stock">{{stock}}</option>
                        </datalist>
                    </div>
                </div>
                <div class="analysisOptionsContainer">
                    <div class="generalAnalysisOption analysisOption">
                        <div class="analysisOptionTitle">
                            <h2>General</h2>
                        </div>
                    </div>
                    <div class="horizontalAnalysisOptionsContainer">
                        <div class="incomeStatementAnalysisOption horizontalOption analysisOption">
                            <div class="analysisOptionTitle">
                                <h2>Income Statement</h2>
                            </div>
                        </div>
                        <div class="balanceSheetAnalysisOption horizontalOption analysisOption">
                            <div class="analysisOptionTitle">
                                <h2>Balance Sheet</h2>
                            </div>
                        </div>
                        <div class="cashFlowAnalysisOption horizontalOption analysisOption">
                            <div class="analysisOptionTitle">
                                <h2>Cash Flow</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="analyticalContentContainer">

            </div>
        </div>
    </div>
</body>
