.allContentContainer {
  width: 100%;
  display: flex;
  -webkit-font-smoothing: antialiased;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  color: white;
}

.mainContentContainer {
  margin-top: 50px;
  width: 80%;
}

@media screen and (max-width: 1600px) {
  .mainContentContainer {
    width: 97%;
  }
}

@media screen and (max-width: 1200px) {
  .mainContentContainer {
    width: 99%;
  }
}