.headerBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    color: white;
    border-bottom: 1px solid darkgray;
    height: 70px;
}

.stockSearchContainer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: coral;
}

input {
    background-color: #232B32;
    color: white;
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    margin-right: 30px;
}

.headerTitleContainer {
    margin-left: 120px;
    font-size: 21px;
}

.headerLinksContainer {
    display: flex;
    margin-right: 120px;
    font-size: 18px;
}

.headerLinksContainer a {
    color: white;
    text-decoration: none;
    margin-top: 4px;
    margin-right: 8px;
    font-size: 16px;
}

.headerLinksContainer a:hover {
    color: lightgray;
}

.autocomplete {
    width: 250px;
    background-color: #232B32;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin-right: 30px;
}

.autofillOption {
    background-color: #232B32;
    color: white;
}