<div class="headerBarContainer">
    <div class="headerTitleContainer">
        <a routerLink="home"><img src="assets/stockToolLogo.png" alt="logo"></a>
        <a class="headerTitle" routerLink="home">REsearch</a>
    </div>

    <div class="headerLinksContainer">
        <div class="stockSearchContainer">
            <input type="text"
            placeholder="Search Stock"
            (keyup)="editInput($event)"
            [(ngModel)]="searchValue"
            list="stockOptionsGeneral">
            <p class="errorText" *ngIf="errorText">Stock not found</p>
            <datalist id="stockOptionsGeneral">
                <option *ngFor="let stock of autofillOptionsGeneral" [value]="stock"></option>
            </datalist>
        </div>
        <a routerLink="news" (click)="goToBroadMarketView()">Market</a>
        <button *ngIf="userEmail == ''" class="loginBtn desktopLink" (click)="login()">Log in</button>
        <button *ngIf="userEmail == ''" class="registerBtn desktopLink" (click)="register()">Sign up</button>
        <a *ngIf="userEmail != '' || screenWidth <= 700" routerLink="account" (click)="goToAccount()">Account</a>
    </div>
</div>
