.headerBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    color: white;
    border-bottom: 1px solid darkgray;
    height: 70px;
}

.stockSearchContainer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: coral;
}

input {
    background-color: #232B32;
    color: white;
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    margin-right: 30px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

.headerTitleContainer img {
    width: 50px;
    height: 50px;
    margin-right: -3px;
    margin-bottom: 8px;
}

.headerTitleContainer a {
    font-size: 23px;
    color: rgb(70, 216, 70);
    text-decoration: none;
}

.headerTitleContainer a:hover {
    color: rgb(24, 243, 101);
}

.headerLinksContainer {
    display: flex;
    margin-right: 120px;
    font-size: 18px;
}

.headerLinksContainer a {
    color: white;
    text-decoration: none;
    margin-top: 4px;
    margin-right: 8px;
    font-size: 16px;
}

.headerLinksContainer a:hover {
    color: rgb(70, 216, 70)
}