<body *ngIf="tokenValidationComplete">
    <div class="fullPageContainer">
        <app-custom-nav-bar></app-custom-nav-bar>
        <div class="pageContainer">
            <div class="forgotPasswordFormContainer">
                <div class="forgotPasswordFormBox">
                    <div class="logoAndTitleContainer">
                        <div class="logoContainer">
                            <img src="assets/stockToolLogo.png" alt="logo">
                        </div>
                        <div class="titleContainer">
                            <h1>REsearch</h1>
                        </div>
                    </div>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
                        <div class="formInputContainer">
                            <div class="inputAndErrorContainer">
                                <input type="password" id="password" name="password" formControlName="password" placeholder="Password: Password2023!" required>
                                <div class="passwordErrorContainer" *ngIf="resetPasswordForm && 
                                (resetPasswordForm.get('password')?.dirty || 
                                resetPasswordForm.get('password')?.touched)">
                                    <p *ngIf="resetPasswordForm.get('password')?.hasError('required')">* password is required</p>
                                    <p *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">* password must be at least 8 characters</p>
                                    <p *ngIf="resetPasswordForm.get('password')?.hasError('hasNumber')">* missing numeric character(s)</p>
                                    <p *ngIf="resetPasswordForm.get('password')?.hasError('hasCapitalCase')">* missing upper case character(s)</p>
                                    <p *ngIf="resetPasswordForm.get('password')?.hasError('hasSmallCase')">* missing lower case character(s)</p>
                                    <p *ngIf="resetPasswordForm.get('password')?.hasError('hasSpecialCharacters')">* missing Special Character(s)</p>
                                </div>
                            </div>
                        </div>
                        <div class="formInputContainer">
                            <div class="inputAndErrorContainer">
                                <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password: Password2023!" required>
                                <div *ngIf="resetPasswordForm && 
                                (resetPasswordForm.get('confirmPassword')?.dirty || 
                                resetPasswordForm.get('confirmPassword')?.touched)" 
                                class="errorContainer">
                                    <p *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">* confirm password is required</p>
                                    <p *ngIf="resetPasswordForm?.errors?.['passwordMismatch']">* passwords do not match</p>
                                </div>
                            </div>
                        </div>
                        <div class="changePasswordButtonContainer">
                            <button [disabled]="!resetPasswordForm.valid" type="submit">Change Password</button>
                        </div>
                        <div class="requestResponseContainer">
                            <div class="responseMessage"
                            [@myInsertRemoveTrigger]
                            *ngIf="displayResponseMessage">
                                <p [ngStyle]="{'color': requestMessageColor}">{{requestMessage}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="halfPageStylishContainer">
                <img class="researchPic" src="assets/TrimmedResearchPicture.jpg" alt="logo">
                <img class="watchlistPic" src="assets/WatchlistPicture.jpg" alt="logo">
            </div>
        </div>
    </div>
</body>
