body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #121212;
    height: 100vh;
    overflow: hidden;
}

.fullPageView {
    width: 100%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.validPageView {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}