<div class="stockChartTopContainer">
    <div class="stockTextInfo">
        <div class="stockTitleAndPrice">
             <p>{{title}}<br>{{displayPrice}}<br>
             </p>
            <span [ngClass]="{
                'positive_change': !daysPriceChange.includes('-'),
                'negative_change': daysPriceChange.includes('-')}">
                {{daysPriceChange.includes('-')? '' : '+'}}{{daysPriceChange}}
                ({{daysPriceChange.includes('-')? '' : '+'}}{{daysPercentChange}})</span>
        </div>
    </div>
    
    <div class="stockChartContainer">
        <canvas id="canvas">{{chart}}</canvas>
        <div class="timeOptionsContainer" *ngIf="showButtons">
            <button mat-fab color="primary" (click)="changeTime('1 day')">1D</button>
            <button mat-fab color="primary" (click)="changeTime('1 week')">1W</button>
            <button mat-fab color="primary" (click)="changeTime('1 month')">1M</button>
            <button mat-fab color="primary" (click)="changeTime('3 months')">3M</button>
            <button mat-fab color="primary" (click)="changeTime('1 year')">1Y</button>
            <button mat-fab color="primary" (click)="changeTime('5 years')">5Y</button>
        </div>
    </div>
</div>

