.pageContainer {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
}

.registrationFormContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.halfPageStylishContainer {
    width: 40%;
    height: 100%;
    background-color: #232323;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 200px;
    height: 30px;
    background-color: #232323;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    color: white;
}

.formInputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.labelContainer {
    width: 100px;
}