<div class="fullPageContainer">
<app-custom-nav-bar></app-custom-nav-bar>
<div class="pageContainer">
    <div class="registrationFormContainer">
        <div class="registrationFormBox">
            <div class="logoAndTitleContainer">
                <div class="logoContainer">
                    <img src="assets/stockToolLogo.png" alt="logo">
                </div>
                <div class="titleContainer">
                    <h1>REsearch</h1>
                </div>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <div class="formInputContainer" formGroupName="nameGroup">
                    <div class="inputAndErrorContainer">
                        <input type="text" id="name" name="name" formControlName="name" placeholder="Name: Warren Buffet" required>
                        <div *ngIf="registerForm && 
                        (registerForm.get('nameGroup.name')?.dirty || 
                        registerForm.get('nameGroup.name')?.touched)" 
                        class="errorContainer">
                            <p *ngIf="registerForm.get('nameGroup.name')?.errors?.['required']">* name is required</p>
                        </div>
                    </div>
                </div>
                <div class="formInputContainer" formGroupName="emailGroup">
                    <div class="inputAndErrorContainer">
                        <input type="email" id="email" name="email" formControlName="email" placeholder="Email" required>
                        <div *ngIf="registerForm && 
                        (registerForm.get('emailGroup.email')?.dirty || 
                        registerForm.get('emailGroup.email')?.touched)" 
                        class="errorContainer">
                            <p *ngIf="registerForm.get('emailGroup.email')?.errors?.['required']">* e-mail is required</p>
                            <p *ngIf="registerForm.get('emailGroup.email')?.errors?.['email']">* e-mail is invalid</p>
                            <p *ngIf="registerForm.get('emailGroup.email')?.errors?.['emailTaken']">* e-mail already exists</p>
                        </div>
                    </div>
                </div>
                <div class="formInputContainer" formGroupName="passwordGroup">
                    <div class="inputAndErrorContainer">
                        <input type="password" id="password" name="password" formControlName="password" placeholder="Password" required>
                        <div class="passwordErrorContainer" *ngIf="registerForm && 
                        (registerForm.get('passwordGroup.password')?.dirty || 
                        registerForm.get('passwordGroup.password')?.touched)">
                            <p *ngIf="registerForm.get('passwordGroup.password')?.hasError('required')">* password is required</p>
                            <p *ngIf="registerForm.get('passwordGroup.password')?.hasError('minlength')">* password must be at least 8 characters</p>
                            <p *ngIf="registerForm.get('passwordGroup.password')?.hasError('hasNumber')">* missing numeric character(s)</p>
                            <p *ngIf="registerForm.get('passwordGroup.password')?.hasError('hasCapitalCase')">* missing upper case character(s)</p>
                            <p *ngIf="registerForm.get('passwordGroup.password')?.hasError('hasSmallCase')">* missing lower case character(s)</p>
                            <p *ngIf="registerForm.get('passwordGroup.password')?.hasError('hasSpecialCharacters')">* missing Special Character(s)</p>
                        </div>
                    </div>
                </div>
                <div class="formInputContainer" formGroupName="passwordGroup">
                    <div class="inputAndErrorContainer">
                        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" required>
                        <div *ngIf="registerForm && 
                        (registerForm.get('passwordGroup.confirmPassword')?.dirty || 
                        registerForm.get('passwordGroup.confirmPassword')?.touched)" 
                        class="errorContainer">
                            <p *ngIf="registerForm.get('passwordGroup.confirmPassword')?.errors?.['required']">* confirm password is required</p>
                            <p *ngIf="registerForm.get('passwordGroup')?.errors?.['passwordMismatch']">* passwords do not match</p>
                        </div>
                    </div>
                </div>
                <div class="registerUserButtonContainer">
                    <button [disabled]="!registerForm.valid" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
    <div class="halfPageStylishContainer">
        <img class="researchPic" src="assets/TrimmedResearchPicture.jpg" alt="logo">
        <img class="watchlistPic" src="assets/WatchlistPicture.jpg" alt="logo">
    </div>
</div>
</div>
