body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #121212;
    height: 100vh;
    overflow: hidden;
}

.fullPageContainer {
    width: 100%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.pageContainer {
    background-color: #121212;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.registrationFormContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registrationFormBox {
    margin-bottom: 150px;
}

.halfPageStylishContainer {
    width: 50%;
    height: 100%;
    background-color: #121212;
    overflow: hidden;
}

.logoAndTitleContainer {
    display: flex;
    align-items: baseline;
}

.logoContainer img {
    width: 150px;
    height: 150px;
    margin-left: -20px;
    margin-right: -15px;
    margin-bottom: -30px;
}

.titleContainer h1 {
    font-size: 44px;
    font-weight: 400;
    color: rgb(70, 216, 70);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    background-color: #232323;
    border: 2px solid lightgray;
    border-radius: 15px;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

.formInputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.labelContainer {
    width: 100px;
}

.inputAndErrorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputAndErrorContainer p {
    font-size: 14px;
    color: lightcoral;
    margin-top: 3px;
    margin-bottom: 0;
}

.registerUserButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerUserButtonContainer button {
    width: 220px;
    height: 35px;
    margin-top: 12px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(67, 190, 67);
    border-radius: 15px;
    color: white;
}

.registerUserButtonContainer button:hover {
    background-color: rgb(70, 216, 70);
    cursor: pointer;
}

.registerUserButtonContainer button:disabled {
    background-color: rgb(40, 114, 40);
    cursor: not-allowed;
}

.halfPageStylishContainer .researchPic {
    width: 100%;
    height: 65%;
}

.halfPageStylishContainer .watchlistPic {
    width: 100%;
    height: 50%;
}

.registerUserButtonContainer a {
    font-size: 14px;
    color: lightgray;
    text-decoration: none;
    margin-top: 3px;
}

.registerUserButtonContainer a:hover {
    color: rgb(70, 216, 70);
}