body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #121212;
    height: 100vh;
    width: 100%;
    color: white;
}

.accountInfoContainer {
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accountInfo {
    margin-top: -20px;
}

.accountInfoHeader h1 {
    font-size: 28px;
    font-weight: 400;
}

.accountInfoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.accountInfoItem h3 {
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

.accountInfoItem input {
    background-color: #232323;
    width: 180px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

.passwordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.passwordContainer h3 {
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

.secureChangeButton {
    background-color: #232323;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15px;
    margin-left: 10px;
}

.secureChangeButton:hover {
    cursor: pointer;
    background-color: #4d5e6d;
}

.watchlistsHeader h2 {
    font-size: 22px;
    font-weight: 400;
}

.watchlistsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.watchlistAndEditBtnContainer {
    display: flex;
}

.watchlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watchlist input {
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
    text-align: center;
    background-color: #232323;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.watchlistValues {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    height: 100px;
}
  
.watchlistValues::-webkit-scrollbar {
    width: 7px;
}

.watchlistValues::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
}

.watchlistValues::-webkit-scrollbar-thumb {
    background: #232B32;
    border-radius: 10px;
}

.watchlistValues p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: -5px;
}

.editButton {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
}

.editButton img {
    width: 18px;
    height: 18px;
    border-radius: 40%;
}

.editButton:hover {
    cursor: pointer;
    background-color: #4d5e6d;
}

.accountInfoFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.accountInfoFooter .deleteAccountButton, .logoutButton {
    background-color: #232323;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 17px;
    margin-left: 10px;
}

.accountInfoFooter .deleteAccountButton:hover, .logoutButton:hover {
    cursor: pointer;
    background-color: #4d5e6d;
}

.saveChangesButton:disabled {
    background-color: #222e39;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 17px;
    margin-left: 10px;
}

.saveChangesButton {
    background-color: #1a8c26;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 17px;
    margin-left: 10px;
}

.saveChangesButton:hover:enabled {
    cursor: pointer;
    background-color: #20b131;
}

.changesSavedMessage {
    margin-left: 2px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #00C805;
}

.changesFailedMessage {
    margin-left: 2px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #C80000;
}

.responseMessage {
    margin-top: -5px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .accountInfoHeader h1 {
        font-size: 22px;
    }

    .accountInfoItem h3, .passwordContainer h3 {
        font-size: 16px;
        margin-right: 6px;
    }
    
    .watchlistsHeader h2 {
        font-size: 18px;
    }

    .watchlistValues p {
        font-size: 14px;
    }

    .watchlistTitle input {
        padding: 2px;
    }

    .accountInfoContainer {
        padding-top: 80px;
        width: 100%;
    }

    .watchlist input {
        width: 120px;
        font-size: 16px;
    }
}

@media screen and (max-width: 530px) {
    .watchlistsContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: -12px;
    }

    .watchlist input {
        width: 100%;
        font-size: 18px;
        margin-left: 0;
        margin-top: 14px;
    }

    .watchlistValues p {
        font-size: 16px;
    }

    .accountInfoFooter {
        margin-top: 12px;
        flex-direction: column;
        width: 100%;
    }

    .accountInfoFooter .deleteAccountButton, .logoutButton {
        background-color: #232323;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 17px;
        margin-left: 0px;
    }

    .accountInfoFooter button {
        width: 270px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
}