<body>
    <div class="fullPageContainer">
        <app-custom-nav-bar></app-custom-nav-bar>
        <div class="pageContainer">
            <div class="forgotPasswordFormContainer">
                <div class="forgotPasswordFormBox">
                    <div class="logoAndTitleContainer">
                        <div class="logoContainer">
                            <img src="assets/stockToolLogo.png" alt="logo">
                        </div>
                        <div class="titleContainer">
                            <h1>REsearch</h1>
                        </div>
                    </div>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
                        <div class="formInputContainer">
                            <input type="email" formControlName="email" placeholder="E-mail" required>
                            <div 
                            [hidden]="!(forgotPasswordForm.get('email')?.dirty || 
                            forgotPasswordForm.get('email')?.touched)" 
                            class="errorContainer">
                                <p [hidden]="!forgotPasswordForm.get('email')?.errors?.['required']">* e-mail is required</p>
                                <p [hidden]="!forgotPasswordForm.get('email')?.errors?.['email']">* e-mail is invalid</p>
                            </div>
                        </div>
                        <div class="submitFormContainer">
                            <button [disabled]="!forgotPasswordForm.valid" type="submit">Send email</button>
                        </div>
                        <div class="requestResponseContainer">
                            <div class="responseMessage" 
                            [@myInsertRemoveTrigger]
                            *ngIf="displayResponseMessage">
                                <p [ngStyle]="{'color': responseColor}">{{responseMessage}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="halfPageStylishContainer">
                <img class="researchPic" src="assets/TrimmedResearchPicture.jpg" alt="logo">
                <img class="watchlistPic" src="assets/WatchlistPicture.jpg" alt="logo">
            </div>
        </div>
    </div>
</body>