<body>
    <div class="fullPageContainer">
        <app-custom-nav-bar></app-custom-nav-bar>
        <div class="pageContainer">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
                <div class="formInputContainer">
                    <input type="email" formControlName="email" placeholder="E-mail" required>
                    <div 
                    *ngIf="forgotPasswordForm && 
                    (forgotPasswordForm.get('forgotPasswordForm.email')?.dirty || 
                    forgotPasswordForm.get('forgotPasswordForm.email')?.touched)" 
                    class="errorContainer">
                        <p *ngIf="forgotPasswordForm.get('forgotPasswordForm.email')?.errors?.['required']">* e-mail is required</p>
                        <p *ngIf="forgotPasswordForm.get('forgotPasswordForm.email')?.errors?.['email']">* e-mail is invalid</p>
                    </div>
                </div>
                <div class="submitFormContainer">
                    <button [disabled]="!forgotPasswordForm.valid" type="submit">Send email</button>
                </div>
            </form>
        </div>
    </div>
</body>
