.mainContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.stockAnalyzed p {
    font-size: 28px;
    font-weight: 500;
}

.analysisHeader h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
}

.anAnalysisContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.chartSelection button {
    width: 120px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #232323;
    background-color: #121212;
    color: white;
    border-radius: 5px;
}

.chartSelection button:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}