<div class="mainContentContainer">
    <div class="stockAnalyzed">
        <p>{{stockName}}</p>
    </div>
    <div class="assetsAndLiabilities anAnalysisContainer">
        <div class="analysisHeader">
            <h2>Total Assets and Liabilities ({{totalAssetsMetric}})</h2>
        </div>
        <div class="chartContainer">
            <canvas id="assetsAndLiabilitiesChart">{{assetsAndLiabilitiesChart}}</canvas>
        </div>
    </div>
    <div class="shareholderEquity anAnalysisContainer">
        <div class="analysisHeader">
            <h2>Shareholder Equity ({{totalShareholderEquityMetric}})</h2>
        </div>
        <div class="chartContainer">
            <canvas id="shareholderEquityChart">{{shareholderEquityChart}}</canvas>
        </div>
    </div>
</div>
