<div class="topWatchlistContainer">
    <div class="watchlistOptionsContainer">
        <div class="watchlistLeftOptionsContainer">
            <div class="watchlistTitleContainer">
                <div class="watchlistHeader">
                    <h3>Your Watchlists</h3>
                </div>
            </div>
            <div class="leftOptionsContainer">
                <div class="watchlistSelectContainer">
                    <select [value]="this.currentWatchlist" (change)="onWatchlistChange($event)">
                        <option value="primary">{{usersWatchlists.watchlist_one_title}}</option>
                        <option value="secondary">{{usersWatchlists.watchlist_two_title}}</option>
                        <option value="tertiary">{{usersWatchlists.watchlist_three_title}}</option>
                    </select>
                </div>
                <div class="addStockBtn">
                    <button (click)="testOpenModal()">Add Stock</button>
                </div>
                <div class="stockAlreadyInWatchlist" [@myInsertRemoveTrigger] *ngIf="cannotAddStock">
                    <p>Stock already in watchlist</p>
                </div>
            </div>   
        </div>
    </div>
        <table>
            <thead>
                <tr class="tableHeaders">
                    <th class="stockTitle">Stock</th>
                    <th class="stockEditColumn"></th>
                    <th>Price</th>
                    <th class="tabletColumn">$ Change</th>
                    <th>% Change</th>
                    <th class="tabletColumn">Volume</th>
                    <th>Market Cap</th>
                    <th class="laptopColumn">P/E Ratio</th>
                    <th class="laptopColumn">Dividend Yield</th>
                    <th class="desktopColumn">52 Week High</th>
                    <th class="desktopColumn">52 Week Low</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stock of renderedWatchlist" class="tableRows">
                    <td class="stockTitle">{{stock.ticker}}<span class="stockFullname"><br />{{stock.name}}</span></td>
                    <td class="stockEditColumn">
                        <div class="stockOptionsDropdown">
                            <button (click)="showStockOptions(stock.id)" class="dropBtn">
                                <mat-icon class="menuBtn">more_vert</mat-icon>
                            </button>

                            <div class="stockOptionsDropdownContent">
                                <a (click)="onResearchStock(stock.ticker)">Research</a>
                                <a (click)="onDeleteStock(stock)">Delete</a>
                            </div>
                        </div>
                    </td>
                    <td>{{stock.price}}</td>
                    <td class="tabletColumn" [ngClass]="{
                        'positive_change': !stock.days_change.includes('-'),
                        'negative_change': stock.days_change.includes('-')}">
                        {{stock.days_change.includes('-') ? '-' : '+'}}${{stock.days_change.replace('-', '')}}</td>
                    <td [ngClass]="{
                        'positive_change': !stock.days_change.includes('-'),
                        'negative_change': stock.days_change.includes('-')}">
                    {{stock.days_change.includes('-') ? '' : '+'}}{{stock.percent_change}}</td>
                    <td class="tabletColumn">{{stock.volume}}</td>
                    <td>{{stock.market_cap}}</td>
                    <td class="laptopColumn">{{stock.pe_ratio}}</td>
                    <td class="laptopColumn">{{stock.dividend_yield}}</td>
                    <td class="desktopColumn">${{stock.fifty_two_week_high}}</td>
                    <td class="desktopColumn">${{stock.fifty_two_week_low}}</td>
                </tr>
            </tbody>
        </table>
</div>
<app-custom-add-stock-modal (onStockPicked)="addStockToWatchlist($event)"></app-custom-add-stock-modal>
<app-prompt-signup-modal (userLoggedIn)="changeUser($event)"></app-prompt-signup-modal>
