<div class="topWatchlistContainer">
    <div class="watchlistOptionsContainer">
        <div class="watchlistLeftOptionsContainer">
            <div class="watchlistTitleContainer">
                <div class="watchlistHeader">
                    <h3>Your Watchlists</h3>
                </div>
            </div>
            <div class="leftOptionsContainer">
                <div class="watchlistSelectContainer">
                    <select [value]="this.currentWatchlist" (change)="onWatchlistChange($event)">
                        <option value="primary">{{usersWatchlists.watchlist_one_title}}</option>
                        <option value="secondary">{{usersWatchlists.watchlist_two_title}}</option>
                        <option value="tertiary">{{usersWatchlists.watchlist_three_title}}</option>
                    </select>
                </div>
                <div class="addStockBtn">
                    <button (click)="onAddStock()">Add Stock</button>
                </div>
            </div>   
        </div>
        <div class="watchlistRightOptionsContainer">
            <div class="stockPurchaseAmtContainer">
                <label>Investment</label>
                <input type="text" placeholder="Investment Amount" [value]="amountToInvest" (keyup)="onEditAmountToInvest($event)">
            </div>
        </div>
    </div>
    <div class="watchlistDisplay">
        <table>
            <tr class="tableHeaders">
                <th>Ticker</th>
                <th>Name</th>
                <th></th>
                <th>Price</th>
                <th>Change</th>
                <th>% Change</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th>P/E Ratio</th>
                <th>52 Week High</th>
                <th>52 Week Low</th>
                <th>Purchase Amount</th>
                <th>% of Purchase</th>
            </tr>
            <tr *ngFor="let stock of renderedWatchlist" class="tableRows">
                <td>{{stock.ticker}}</td>
                <td>{{stock.name}}</td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu">:</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onResearchStock(stock)">Research</button>
                        <button mat-menu-item (click)="onDeleteStock(stock)">Delete</button>
                    </mat-menu>
                </td>
                <td>{{stock.price}}</td>
                <td [ngClass]="{
                    'positive_change': !stock.days_change.includes('-'),
                    'negative_change': stock.days_change.includes('-')}">
                    {{stock.days_change.includes('-') ? '' : '+'}}{{stock.days_change}}</td>
                <td [ngClass]="{
                    'positive_change': !stock.days_change.includes('-'),
                    'negative_change': stock.days_change.includes('-')}">
                {{stock.days_change.includes('-') ? '' : '+'}}{{stock.percent_change}}</td>
                <td>{{stock.volume}}</td>
                <td>{{stock.market_cap}}</td>
                <td>{{stock.pe_ratio}}</td>
                <td>{{stock.fifty_two_week_high}}</td>
                <td>{{stock.fifty_two_week_low}}</td>
                <td>{{stock.purchase_amt}}</td>
                <td>
                    <input type="text" placeholder="10%" [value]="stock.percent_of_purchase" (keyup)="onEditPercentOfPurchase($event, stock)">
                </td>
        </table>
    </div>
</div>
