  table {
    border-collapse: collapse;
    width: 97%;
    text-align: left;
  }
  
  table {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 620px;
      border-bottom: 1px solid darkgray;
  }
  
  thead {
      padding-right: 6px;
      flex: 0 0 auto;
      width: 100%;
  }
  
  tbody {
      flex: 1 1 auto;
      display: block;
      overflow-y: auto;
      overflow-x: hidden;
  }

  tbody::-webkit-scrollbar {
    width: 15px;
  
  }
  tbody::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
  }
  
  tbody::-webkit-scrollbar-thumb {
    background: #232B32;
    border-radius: 10px;
  }
  
  tr {
      width: 100%;
      display: table;
      table-layout: fixed;
      border-bottom: 1px solid darkgray;
      font-size: 14px;
  }

.stockNameColumn {
    width: 150px;
}

.positive_change {
    color: lightgreen;
}

.negative_change {
    color: lightcoral;
}

input {
    background-color: #232B32;
    color: white;
    border: none;
    opacity: 0.5;
}

.stockLinks button {
    background-color: #121212;
    color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    overflow-y: auto;
}

.topWatchlistContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #121212;
}

.watchlistHeader h3 {
    font-size: 19px;
    font-weight: 500;
    color: white;
}

.watchlistOptionsContainer {
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.leftOptionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftOptionsContainer select {
    width: 90px;
    height: 30px;
    font-size: 14px;
    border: darkgrey 1px solid;
    background-color: #121212;
    color: white;
    border-radius: 5px;
}

.leftOptionsContainer select:hover {
    background-color: #232B32;
    cursor: pointer;
}

.leftOptionsContainer button {
    border: darkgrey 1px solid;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #121212;
    color: white;
    border-radius: 5px;
}

.leftOptionsContainer button:hover {
    background-color: #232B32;
    cursor: pointer;
}

.watchlistRightOptionsContainer {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 42px;
}

.stockPurchaseAmtContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.stockPurchaseAmtContainer label {
    margin-left: 2px;
}

.stockPurchaseAmtContainer input {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 16px;
}

.watchlistLeftOptionsContainer .watchlistSelectContainer {
    margin-right: 10px;
}

.stockTicker {
    width: 220px;
}

.stockOptionsDropdown {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0;
}

.dropBtn {
    background-color: #121212;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.dropBtn:hover {
    background-color: #232B32;
}

.stockOptionsDropdownContent {
    display: none;
    flex-direction: column;
    position: absolute;
    color: white;
    background-color: #232323;
    justify-content: center;
    text-align: left;
    min-width: 75px;
    border-radius: 5px;
    z-index: 1;
}

.stockOptionsDropdownContent a {
    color: white;
    padding: 2px;
    padding-right: 15px;
    text-decoration: none;
}

.stockOptionsDropdownContent a:hover {
    background-color: #232B32;
    cursor: pointer;
}

.hide {
    display: none;
}

