.earningsHeader {
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid #6c6969;
  }

.earningsHeader h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }

canvas#earnings {
    width: 100%;
}