
<app-custom-nav-bar></app-custom-nav-bar>
<div class="marketNewsContainer">
    <div class="allContentContainer">
        <div class="marketNewsHeader">
            <h1>Market News</h1>
        </div>
        <div class="marketTabs">
            <button class="tabLinks" (click)="openTab($event, 'macroTab')">Macro</button>
            <button class="tabLinks" (click)="openTab($event, 'fiscalTab')">Fiscal</button>
            <button class="tabLinks" (click)="openTab($event, 'monetaryTab')">Monetary</button>
        </div>
        <div id="macroTab" class="tabContainer">
            <div *ngFor="let article of articles.macros" class="article_display">
                <div class="article_text">
                    <p>{{article.source}}</p>
                    <a href="{{article.url}}" target="_blank"><h3>{{article.title}}</h3></a>
                </div>
                <div class="article_image">
                    <img src="{{article.banner_image}}" alt="article image">
                </div>
            </div>
        </div>
    
        <div id="fiscalTab" class="tabContainer">
            <div *ngFor="let article of articles.fiscals" class="article_display">
                <div class="article_text">
                    <p>{{article.source}}</p>
                    <a href="{{article.url}}" target="_blank"><h3>{{article.title}}</h3></a>
                </div>
                <div class="article_image">
                    <img src="{{article.banner_image}}" alt="article image">
                </div>
            </div>
        </div>
    
        <div id="monetaryTab" class="tabContainer">
            <div *ngFor="let article of articles.monetaries" class="article_display">
                <div class="article_text">
                    <p>{{article.source}}</p>
                    <a href="{{article.url}}" target="_blank"><h3>{{article.title}}</h3></a>
                </div>
                <div class="article_image">
                    <img src="{{article.banner_image}}" alt="article image">
                </div>
            </div>
        </div>
    </div>
</div>
    

