.personalNewsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: white;
  text-align: left;
  height: 600px;
  margin-bottom: 150px;
}

.personalNewsContainer h1 {
  font-size: 24px;
  font-weight: 400;
  margin-left: 4px;
}

.custom-articles-container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-articles-container::-webkit-scrollbar {
  width: 15px;

}
.custom-articles-container::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

.custom-articles-container::-webkit-scrollbar-thumb {
  background: #232B32;
  border-radius: 10px;
}

.custom-articles-container h1 {
  margin-left: 8px;
  font-size: 22px;
  font-weight: 500;
}

.article_display {
  height: 130px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #121212;
  border-top: 1px solid #232B32;
  text-decoration: none;
  color: white;
}

.article_text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.article_display:hover {
  background-color: #232B32;
  cursor: pointer;
}

.article_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.article_text h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.article_image {
  flex: 0 0 auto;
}

.article_image img {
  width: 180px; /* Adjust the desired width 140 */
  height: 100px; /* Adjust the desired height 80 */
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .article_image img {
    width: 140px; /* Adjust the desired width 140 */
    height: 80px; /* Adjust the desired height 80 */
  }
}

@media screen and (max-width: 768px) {
  .article_image img {
    width: 130px; /* Adjust the desired width 140 */
    height: 80px; /* Adjust the desired height 80 */
  }
}

@media screen and (max-width: 500px) {
  .article_image img {
    display: none;
  }

  .article_text h3 {
    font-size: 16px;
  }

  .article_text p {
    font-size: 14px;
  }
}